# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dependency directories
node_modules/
.pnp
.pnp.js

# Build output
.next/
out/

# Static files
public/static/

# Tailwind CSS build artifacts
*.css
*.css.map

# Vercel deployment
.vercel
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS-specific files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# npm lockfile
package-lock.json

# yarn lockfile
yarn.lock

# local environment variables
.env
.env.*
